<!DOCTYPE html>
<html>

<head>
	<title>BattleShip</title>
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="/javascripts/js.cookie.js"></script>
	<script src="/javascripts/konva.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/javascripts/alertify.js"></script>
	<!-- JavaScript -->
	<script src="//cdn.jsdelivr.net/alertifyjs/1.6.1/alertify.min.js"></script>

	<!-- CSS -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.6.1/css/alertify.min.css"/>
	<!-- Default theme -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.6.1/css/themes/default.min.css"/>
	<!-- Semantic UI theme -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.6.1/css/themes/semantic.min.css"/>
	<!-- Bootstrap theme -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.6.1/css/themes/bootstrap.min.css"/>

	<!-- 
		RTL version
	-->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.6.1/css/alertify.rtl.min.css"/>
	<!-- Default theme -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.6.1/css/themes/default.rtl.min.css"/>
	<!-- Semantic UI theme -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.6.1/css/themes/semantic.rtl.min.css"/>
	<!-- Bootstrap theme -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.6.1/css/themes/bootstrap.rtl.min.css"/>
	<style>
		body {
			background-image: url("/images/background.jpg");
		}
		.text
		{
		font-weight:bold;text-transform:uppercase;color:#000000;font-size:20px;text-align:center;font-family:arial black, sans-serif;	
		}
	</style>
</head>
<body>
	<audio autoplay loop>
		<source src="/music/battle.mp3" type="audio/mpeg">
		Your browser does not support the audio element.
	</audio>
	<div class="panel panel-danger" style="background: none;">
		<div class="panel-body">
			<div class="row" align="center"><img src="/images/logo.gif" width="20%"/></div>
			<div class="row">
			
				<div class="col-md-5">
					<div class="row" align="center"><span class="text">Your Placing</span></div>
					<div id="container" align="center" class="row" style="margin-left:20px"></div>
					<div class="row" align="center"><span class="text">Your Ships Remain : <span id="yourShipsDown">5</span>/5</span></div>
					<div class="row" align="center"><span id="coolDown" class="text">Attack Now(3 sec left)!</span></div>
					<div class="row" align="center"><img id="signal" src="/images/green.gif" width="40%"/></div>
				</div>
				<div id="container2" align="center" class="col-md-7"></div>
				<div align="center" class="col-md-7"></div>
			</div>
		</div>
	</div>
	<script>
		var socket = io();
		var url = window.location.href.split('/')
		var roomId = url[url.length-3];
		socket.emit('register',roomId);
	
		var arrShip = JSON.parse(Cookies.get('ships'));
		
		for(var z = 0;z < arrShip.length;z++){
			arrShip[z].hit = 0;
		}
		
		var mapStatus = [];
		
		for(var i = 0;i < 10;i++){
			mapStatus[i] = [];
			for(var j = 0;j < 10;j++){
				mapStatus[i][j] = 0;
			}
		}
		
		var oppShips;
		var width = 252;
		var height = 252;
		var oppWidth = 420;
		var oppHeight = 420;
		var sRatio = 1;
		var yourShipsDown = 0;
		var oppShipsDown = 0;
		var gameOver = false;
		var coolDown = 0;
		var stop = new sound('/sounds/stop.wav');
		var go = new sound('/sounds/go.wav');
		var timeLeft = 3;
		var countTime = true;
		
		var stage = new Konva.Stage({
		  container: 'container',
		  width: width,
		  height: height
		});

		var layer1 = new Konva.Layer();
		var layer2 = new Konva.Layer();
		var layer3 = new Konva.Layer();
		
		var oppStage = new Konva.Stage({
			container: 'container2',
			width: oppWidth,
			height: oppHeight
		});
				
		var oppLayer1 = new Konva.Layer();
		var oppLayer2 = new Konva.Layer();
		var oppLayer3 = new Konva.Layer();
				
		var mapX = 0;
		var mapY = 0;
		var oppMapX = 0;
		var oppMapY = 0;
		var paddingTop = 10;
		var shipBlockSize = 38;
		
		function sound(src) {
			this.sound = document.createElement("audio");
			this.sound.src = src;
			this.sound.setAttribute("preload", "auto");
			this.sound.setAttribute("controls", "none");
			this.sound.style.display = "none";
			document.body.appendChild(this.sound);
			this.play = function(){
				this.sound.play();
			}
			this.stop = function(){
				this.sound.pause();
			}
		}
	
		function drawMap(mx,my,layer){
			for(var i=0;i <= 400;i+=40){
				var vLine = new Konva.Line({
				  points: [5, 5, 5, 405],
				  stroke: '#996633',
				  strokeWidth: 5,
				  lineCap: 'round',
				  lineJoin: 'round'
				});

				vLine.move({
				  x : i + mx,
				  y : 5 + my
				});

				layer.add(vLine);
			}
			
			for(var i=0;i <= 400;i+=40){
				var hLine = new Konva.Line({
				  points: [5, 5, 405, 5],
				  stroke: '#996633',
				  strokeWidth: 5,
				  lineCap: 'round',
				  lineJoin: 'round'
				});

				hLine.move({
				  x : 0 + mx,
				  y : i + 5 + my
				});

				layer.add(hLine);
			}
		}
		
		function drawShip(sx,sy,block,direction,lastId){
			var blockH = block;
			var blockW = 1;
			var id = lastId;
			if(direction=="E" || direction=="W"){
				blockH = 1;
				blockW = block;
			}
			var h = shipBlockSize*blockH, w = shipBlockSize*blockW;
			var imgPath = 'ship' + direction + '.png';
		
			var shipImg = new Image();
			shipImg.onload = function(){
				var img = new Konva.Image({
					x : mapX + 7 + sx*40,
					y : mapY + paddingTop + sy*40,
					image : shipImg,
					width : w,
					height : h
				});
				
				layer2.add(img);
				stage.add(layer2);
			}
			
			shipImg.src = "/images/" + imgPath;
		}
		
		function scaleStage(ratio){
			layer2.scale({
				x:ratio,
				y:ratio
			});
			layer2.draw();
			layer1.scale({
				x:ratio,
				y:ratio
			});
			layer1.draw();
			layer3.scale({
				x:ratio,
				y:ratio
			});
			layer3.draw();
			stage.scale({
				x:ratio,
				y:ratio
			});
			stage.draw();
			stage.setHeight(height*sRatio);
		}	
		
		function scaleOppStage(ratio){
			oppLayer2.scale({
				x:ratio,
				y:ratio
			});
			oppLayer2.draw();
			oppLayer1.scale({
				x:ratio,
				y:ratio
			});
			oppLayer1.draw();
			oppLayer3.scale({
				x:ratio,
				y:ratio
			});
			oppLayer3.draw();
			oppStage.scale({
				x:ratio,
				y:ratio
			});
			oppStage.draw();
			oppStage.setHeight(oppHeight*sRatio);
		}	
		
		function miss(x,y,attack){
			var missImg = new Image();
			missImg.onload = function(){
				var img = new Konva.Image({
					x : 7 + x*40,
					y : paddingTop + y*40,
					image : missImg,
					width : shipBlockSize,
					height : shipBlockSize
				});
				if(attack){
					oppLayer2.add(img);
					oppStage.add(oppLayer2);
				}else{
					layer2.add(img);
					stage.add(layer2);
				}
			}
			
			missImg.src = "/images/water.png";
			(new sound("/sounds/splash.mp3")).play();
		}
		
		function hit(x,y,attack){
			var hitImg = new Image();
			hitImg.onload = function(){
				var img = new Konva.Image({
					x : 7 + x*40,
					y : paddingTop + y*40,
					image : hitImg,
					width : shipBlockSize,
					height : shipBlockSize
				});
				if(attack){
					oppLayer2.add(img);
					oppStage.add(oppLayer2);
				}else{
					layer2.add(img);
					stage.add(layer2);
				}
			}
			
			hitImg.src = "/images/explosion.png";
			(new sound("/sounds/explosion.mp3")).play();
		}
		
		function explode(x,y){
			var success = false;
			for(var i = 0;i < arrShip.length;i++){
				var direction = arrShip[i].direction;
				var block = arrShip[i].block;
				var sx = arrShip[i].x;
				var sy = arrShip[i].y;
				
				if(((direction == "E" || direction == "W") && sx <= x && x < sx + block && sy == y) || ((direction == "N" || direction == "S") && sy <= y && y < sy + block && sx == x)){
					hit(x,y,false);
					arrShip[i].hit += 1;
					if(arrShip[i].hit == arrShip[i].block){
						yourShipsDown += 1;
						$('#yourShipsDown').text(5 - yourShipsDown);
						if(yourShipsDown == 5){
							stage.listening(false);
							oppStage.listening(false);
						}
					}
					return true;
				}
			}
			miss(x,y,false);
			return false;
		}
		
		var bgImg = new Image();
		bgImg.onload = function(){
			var img = new Konva.Image({
				x : mapX + 5,
				y : mapY + 10,
				image : bgImg,
				width : 400,
				height : 400,
				opacity : 0.8
			});
			
			layer3.add(img);
			stage.add(layer3);
			layer3.moveDown().moveDown();
		}
		
		bgImg.src = "/images/sea.jpg";
		
		var bgImg2 = new Image();
		bgImg2.onload = function(){
			var img2 = new Konva.Image({
				x : oppMapX + 5,
				y : oppMapY + 10,
				image : bgImg2,
				width : 400,
				height : 400,
				opacity : 0.8
			});
			
			oppLayer3.add(img2);
			oppStage.add(oppLayer3);
			oppLayer3.moveDown().moveDown();
		}

		bgImg2.src = "/images/sea.jpg";
		
		drawMap(mapX,mapY,layer1);
		drawMap(oppMapX,oppMapY,oppLayer1);
		
		for(var i = 0;i < arrShip.length;i++){
			var ship = arrShip[i];
			drawShip(ship.x,ship.y,ship.block,ship.direction,-1);
		}
		stage.add(layer1);
		oppStage.add(oppLayer1);
		scaleStage(0.7);
		oppStage.add(oppLayer2);
		
		oppStage.on('click tap',function(){
				var mousePos = oppStage.getPointerPosition();
				var x = mousePos.x;
				var y = mousePos.y;
				var nx = Math.floor((x-5)*sRatio/40*sRatio);
				var ny = Math.floor((y-10)*sRatio/40*sRatio);
				if(nx >= 0 && nx < 10 && ny >= 0 && ny < 10 && mapStatus[nx][ny] != 1){
					socket.emit('attack',[nx,ny]);
					mapStatus[nx][ny] = 1;
				}
		});
		
		socket.on('playerConnected',function(){

		});
		
		socket.on('playerDisconnected',function(){
			if(!gameOver){
				alertify
				  .alert("The opponent left!", function(){
					alertify.message('OK');
					var host = window.location.href.split('/')[0];
					location.href = host + '/' + roomId + '/ship/';
				 }).setHeader("");;
			}
		});
		
		socket.on('damage',function(data){
			var x = data[0];
			var y = data[1];
			mapStatus[x][y] = 1;
			var success = explode(x,y);
			if(success){
				socket.emit('success',[x,y,yourShipsDown]);
				if(yourShipsDown == 5){
					countTime = false;
					gameOver = true;
					alertify.alert("You lose!",function(){
						var host = window.location.href.split('/')[0];
						location.href = host + '/' + roomId + '/ship/';
					}).setHeader("");;
				}
			}else{
				socket.emit('fail',[x,y]);	
			}
		});
		
		socket.on('success',function(data){
			var x = data[0];
			var y = data[1];
			hit(x,y,true);
			
			oppStage.listening(true);
			$('#coolDown').text('Keep Attacking!');
			timeLeft += 1;
			$('#coolDown').text('Attack Now(' + timeLeft + ' sec left)!');
			go.play();
			if(data[2] == 5){
				gameOver = true;
				countTime = false;
				alertify.alert('You win!',function(){
					stage.listening(false);
					oppStage.listening(false);
					var host = window.location.href.split('/')[0];
					location.href = host + '/' + roomId + '/ship/';
				}).setHeader("");
			}
		});
		
		socket.on('fail',function(data){
			var x = data[0];
			var y = data[1];
			miss(x,y,true);
			
		});
		
		setInterval(function(){
			if(countTime){
				timeLeft -= 1;
				$('#coolDown').text('Attack Now(' + timeLeft + ' sec left)!');
				if(timeLeft <= 0){
					countTime = false;
					oppStage.listening(false);
					$('#signal').attr('src','/images/red.gif');
					$('#coolDown').text('Cooling Down...');
					stop.play();
					setTimeout(function(){
						countTime = true;
						timeLeft = 3;
						oppStage.listening(true);
						$('#coolDown').text('Attack Now(3 sec left)!');
						$('#signal').attr('src','/images/green.gif');
						go.play();
					},2000);
					setTimeout(function(){
						$('#signal').attr('src','/images/yellow.gif');
						stop.play();
					},1000);
				}
			}
		},1000);
		
		//var ptrImg = new Image();
		//ptrImg.onload = function(){
		//		var img = new Konva.Image({
		//			x : 7 + 0*40,
		//			y : paddingTop + 0*40,
		//			image : ptrImg,
		//			width : shipBlockSize,
		//			height : shipBlockSize
		//		});
		//		oppLayer2.add(img);
		//		oppStage.add(oppLayer2);
		//	}
			
		//ptrImg.src = "/images/explosion.png";
		
		oppStage.on('mouseover', function() {
			document.body.style.cursor = 'pointer';
			var mousePos = oppStage.getPointerPosition();
			var x = mousePos.x;
			var y = mousePos.y;
			
			var nx = Math.floor((x-5)/40);
			var ny = Math.floor((y-10)/40);
			if(nx >= 0 && nx < 10 && ny >= 0 && ny < 10){
				
			}
		});
				
		oppStage.on('mouseout', function() {
			document.body.style.cursor = 'default';
		});
		
		window.onload = function(event){
			sRatio = $(window).width()/$(document).width();
			scaleOppStage(sRatio);
		}
		
		window.onresize = function(event){
			sRatio = $(window).width()/$(document).width();
			scaleOppStage(sRatio);
		}
	</script>
</body>
</html>