<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="/javascripts/js.cookie.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <style>
    body {
      background: url("/images/background2.jpg") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      font-family: 'Exo', sans-serif;
    }
    h1{
      text-align: center;
    }
    span{
      color: #5379fa !important;
    }
    k{
      color: #fff;
      font-size: 35px;
      font-weight: 200;
    }
    img {
        text-align: center;
        width: 100%;
        height: auto;
    }
    div#special {
      text-align: inherit;
    }

    /*input[type='sumbit'] {
      font-size: 18px;
    }*/
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <script type="text/javascript">
        var currentUser = Cookies.getJSON('user');
        if(currentUser) {
          document.write("Hi! " + currentUser.username);
        }
      </script>
    </div>
    <div class="row">
      <h1> Welcome to <k>Battle<span>Ship</span></k> </h1><br>
    </div>
    <div class="row">
      <img src="/images/logo.gif"><br><br><br>
    </div>
    <script type="text/javascript">
      if(!currentUser){
          function writeHTMLasJS(){
              document.write("<div class=\"row\">");
              document.write("      <div class=\"col-md-3\">");
              document.write("");
              document.write("      <\/div>");
              document.write("      <div class=\"col-md-3\">");
              document.write("        <a href=\"login\" class=\"btn btn-default\"><h4>Login<\/h4><\/a>");
              document.write("      <\/div>");
              document.write("      <div class=\"col-md-2\">");
              document.write("      <\/div>");
              document.write("      <div class=\"col-md-3\">");
              document.write("        <a href=\"register\" class=\"btn btn-default\"><h4>Sign Up<\/h4><\/a>");
              document.write("      <\/div>");
              document.write("      <div class=\"col-md-4\">");
              document.write("      <\/div>");
              document.write("    <\/div>");
          }
      } else {
          function writeHTMLasJS(){
              document.write("<div class=\"row\">");
              document.write("      <div class=\"col-md-3\">");
              document.write("");
              document.write("      <\/div>");
              document.write("      <div class=\"col-md-3\">");
              document.write("        <a href=\"lobby\" class=\"btn btn-default\"><h4>Lobby<\/h4><\/a>");
              document.write("      <\/div>");
              document.write("      <div class=\"col-md-2\">");
              document.write("      <\/div>");
              document.write("      <div class=\"col-md-3\">");
              document.write("<a id=\"log\" href=\"#\" class=\"btn btn-default\"><h4>Logout<\/h4><\/a>");
              document.write("      <\/div>");
              document.write("      <div class=\"col-md-4\">");
              document.write("      <\/div>");
              document.write("    <\/div>");
          }
      }
    </script>

    <script type="text/javascript">
      writeHTMLasJS();

      $("#log").click(function(e) {

        var url = "/logout"; // the script where you handle the form input.

        $.ajax({
               type: "POST",
               url: url,
               data: $("#log").serialize(), // serializes the form's elements.
               success: function(data)
               {
                  Cookies.remove('user');
                  alert("successful logout");
                  window.location.href = '/';
               }
             });

        e.preventDefault(); // avoid to execute the actual submit of the form.
    });
  </script>
  </div>

</body>

</html>
