<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="/javascripts/js.cookie.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <!--<style>
      body {
      background: url("/images/background2.jpg") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      font-family: 'Exo', sans-serif;
      }
  </style>-->
</head>

<body>
  <h1> Lobby </h1>
  <script type="text/javascript">
    setInterval(function()
    {
        $.post("/online",function(data){
          console.log('result' + data);
        });
    }, 1000); // This will "refresh" every 1 second
  </script>
  <a href="boardsetting" class="btn btn-default">Enter random room</a>
  <!--<script type="text/javascript">
  	var currentUser = Cookies.getJSON('user');
  </script>-->
</body>

</html>
