<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <style>
    label {display: block; position: relative; margin: 10px 0px}
    .text {position: absolute; width: 15em; left: 80px}
  </style>
</head>

<body>
  <h1> Battleship </h1>
  <h2> Login </h2>
  <form name="loginform">
      <label>Username: <input class="text" type="text" name="username"/></label>
      <label>Password: <input class="text" type="password" name="password"/></label>
      <input type="submit" value="Login"/>
  </form>

</body>

</html>
