<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="/javascripts/js.cookie.js"></script>
</head>
<body>

	<a id="log" href="#">Logout</a>
    <script type="text/javascript">
  		$("#log").click(function(e) {

	      var url = "/logout"; // the script where you handle the form input.

	      $.ajax({
	             type: "POST",
	             url: url,
	             data: $("#log").serialize(), // serializes the form's elements.
	             success: function(data)
	             {
	                Cookies.remove('user');
	                alert("successful logout");
	                window.location.href = '/';
	             }
	           });

	      e.preventDefault(); // avoid to execute the actual submit of the form.
	  });
	</script>
</body>
</html>
